<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Deployment model [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Deployment model [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3ed383174b464f3faed6e7e302b73642.png" alt="TVI-Deployment model [Traceability]" usemap="#id-3ed383174b464f3faed6e7e302b73642map"/>
			   <map name="id-3ed383174b464f3faed6e7e302b73642map">
				  		<area shape="rect" coords="725,1270,929,1343" href="../elements/id-5da7dceaaad74e168bcae1eb454d26e9.html"  target="element">
				  		<area shape="rect" coords="725,1366,929,1439" href="../elements/id-6771d8a932fb4b4f8162c29ddf13a2a3.html"  target="element">
				  		<area shape="rect" coords="1714,1102,1918,1211" href="../elements/id-5391eb73ae5b4494bf05974c95f419f2.html"  target="element">
				  		<area shape="rect" coords="1714,1258,1918,1367" href="../elements/id-3ac903aa60a8455ab8ad9bdd14f766f9.html"  target="element">
				  										<area shape="rect" coords="1150,1258,1547,1330" href="../elements/id-a512b05f640a44a695fd131c7fc5c423.html"  target="element">

				  								<area shape="rect" coords="1138,1222,1558,1342" href="../elements/id-576dbcf214ff40b19b0c2d208edb6063.html"  target="element">

				  						<area shape="rect" coords="1114,1186,1582,1366" href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html"  target="element">

				  				<area shape="rect" coords="1090,1150,1602,1391" href="../elements/id-80993d3be86840ada2ad636f0bf994b1.html"  target="element">

				  		<area shape="rect" coords="1066,1090,1668,1414" href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html"  target="element">
				  				<area shape="rect" coords="58,1174,515,1246" href="../elements/id-61a50d46c04b4a469c2a09d716b99f9d.html"  target="element">

				  		<area shape="rect" coords="10,1066,562,1390" href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html"  target="element">
				  				<area shape="rect" coords="1150,981,1462,1018" href="../views/id-c3b8127a92a545398d5f2222d186726a.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1486,910,1630,982" href="../elements/id-e68a689420764241ad7140beef7dbec9.html"  target="element">
				  				<area shape="rect" coords="1478,826,1638,881" href="../elements/id-822a4607087d499eb3e3e991ac16a939.html"  target="element">
				  				<area shape="rect" coords="1126,918,1286,973" href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html"  target="element">
				  				<area shape="rect" coords="1126,826,1286,881" href="../elements/id-39d20564974e4bfb81df74ee030106d4.html"  target="element">

				  		<area shape="rect" coords="1066,790,1666,1043" href="../elements/id-6eb3de50b960434ca85607ba1923f396.html"  target="element">
				  				<area shape="rect" coords="238,898,370,970" href="../views/id-c83836449bfa40299f07db29e53218b4.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="130,802,274,874" href="../elements/id-ed7ff62f7f1741eeb87720883bb56a3f.html"  target="element">
				  				<area shape="rect" coords="310,802,454,874" href="../elements/id-f44b6f129a254e58916b9a82e30a6287.html"  target="element">

				  		<area shape="rect" coords="94,778,502,982" href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html"  target="element">
				  		<area shape="rect" coords="767,852,887,907" href="../elements/id-0f0e25299d354403822396a6ef89d666.html"  target="element">
				  		<area shape="rect" coords="740,622,913,707" href="../elements/id-ace043ecf5954e3e9f550ab4f2639182.html"  target="element">
				  		<area shape="rect" coords="767,502,887,557" href="../elements/id-02e19348838341d590b9f0e7e8f01362.html"  target="element">
				  		<area shape="rect" coords="761,394,881,449" href="../elements/id-916970e1d6174421ae52a157dd0034ac.html"  target="element">
				  		<area shape="rect" coords="761,286,881,341" href="../elements/id-4c3dcd22230e4d328c01059ccaf8c380.html"  target="element">
				  		<area shape="rect" coords="742,190,899,245" href="../elements/id-0cef956dfbb14678993b9823e0229599.html"  target="element">
				  		<area shape="rect" coords="1414,166,1668,730" href="../elements/id-0e7ad3442c714285b3f7cb0c735c1fb2.html"  target="element">
				  		<area shape="rect" coords="1066,166,1320,730" href="../elements/id-3f6cffbe394c4ce1a7efe86763fadd22.html"  target="element">
				  		<area shape="rect" coords="10,166,562,730" href="../elements/id-c19b587ff9dd421d8c52431a57f38c6c.html"  target="element">
				          <area shape="rect" coords="610,10,1043,94" href="../objects/id-95accfd923434a938a86ea6826c68776.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-95accfd923434a938a86ea6826c68776.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-95accfd923434a938a86ea6826c68776.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-c19b587ff9dd421d8c52431a57f38c6c.html" target="element"> Deployment on Virtual machines </a> </td>
											    <td> <a href="../elements/id-c19b587ff9dd421d8c52431a57f38c6c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f6cffbe394c4ce1a7efe86763fadd22.html" target="element"> Deployment on Containers </a> </td>
											    <td> <a href="../elements/id-3f6cffbe394c4ce1a7efe86763fadd22.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e7ad3442c714285b3f7cb0c735c1fb2.html" target="element"> Container Images </a> </td>
											    <td> <a href="../elements/id-0e7ad3442c714285b3f7cb0c735c1fb2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0cef956dfbb14678993b9823e0229599.html" target="element"> Shared Platform </a> </td>
											    <td> <a href="../elements/id-0cef956dfbb14678993b9823e0229599.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c3dcd22230e4d328c01059ccaf8c380.html" target="element"> {OR} </a> </td>
											    <td> <a href="../elements/id-4c3dcd22230e4d328c01059ccaf8c380.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-916970e1d6174421ae52a157dd0034ac.html" target="element"> {XOR} </a> </td>
											    <td> <a href="../elements/id-916970e1d6174421ae52a157dd0034ac.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02e19348838341d590b9f0e7e8f01362.html" target="element"> {OR} </a> </td>
											    <td> <a href="../elements/id-02e19348838341d590b9f0e7e8f01362.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ace043ecf5954e3e9f550ab4f2639182.html" target="element"> Computing Hosting, Networking, and Data Hosting Infrastructure Registry </a> </td>
											    <td> <a href="../elements/id-ace043ecf5954e3e9f550ab4f2639182.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f0e25299d354403822396a6ef89d666.html" target="element"> {OR} </a> </td>
											    <td> <a href="../elements/id-0f0e25299d354403822396a6ef89d666.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element"> Computing Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f44b6f129a254e58916b9a82e30a6287.html" target="element"> Virtual Machine </a> </td>
													    <td> <a href="../elements/id-f44b6f129a254e58916b9a82e30a6287.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed7ff62f7f1741eeb87720883bb56a3f.html" target="element"> Server </a> </td>
													    <td> <a href="../elements/id-ed7ff62f7f1741eeb87720883bb56a3f.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../views/id-c83836449bfa40299f07db29e53218b4.html" target="view"> TVI-Computing Infrastructure Enablers [Traceability] </a> </td>
													    <td> <a href="../views/id-c83836449bfa40299f07db29e53218b4.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
													    <td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element"> Containers Orchestrator </a> </td>
													    <td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
													    <td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
													    <td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../views/id-c3b8127a92a545398d5f2222d186726a.html" target="view"> TVI-Workflow Orchestration and Containers Infrastructure Enablers [Traceability] </a> </td>
													    <td> <a href="../views/id-c3b8127a92a545398d5f2222d186726a.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html" target="element"> On Premise Facility </a> </td>
											    <td> <a href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-61a50d46c04b4a469c2a09d716b99f9d.html" target="element"> Local Area Network </a> </td>
													    <td> <a href="../elements/id-61a50d46c04b4a469c2a09d716b99f9d.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
											    <td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-80993d3be86840ada2ad636f0bf994b1.html" target="element"> Saas </a> </td>
													    <td> <a href="../elements/id-80993d3be86840ada2ad636f0bf994b1.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html" target="element"> PaaS </a> </td>
															    <td> <a href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-576dbcf214ff40b19b0c2d208edb6063.html" target="element"> IaaS </a> </td>
																	    <td> <a href="../elements/id-576dbcf214ff40b19b0c2d208edb6063.html" target="element" class="i18n-elementtype-TechnologyService">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/id-a512b05f640a44a695fd131c7fc5c423.html" target="element"> Cloud Private Network </a> </td>
																			    <td> <a href="../elements/id-a512b05f640a44a695fd131c7fc5c423.html" target="element" class="i18n-elementtype-CommunicationNetwork">
																			    </a> </td>
																			</tr>

																	
															
													
											
											<tr>
											    <td> <a href="../elements/id-3ac903aa60a8455ab8ad9bdd14f766f9.html" target="element"> Private Cloud Computing Facility </a> </td>
											    <td> <a href="../elements/id-3ac903aa60a8455ab8ad9bdd14f766f9.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5391eb73ae5b4494bf05974c95f419f2.html" target="element"> Public Cloud Computing Facility </a> </td>
											    <td> <a href="../elements/id-5391eb73ae5b4494bf05974c95f419f2.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6771d8a932fb4b4f8162c29ddf13a2a3.html" target="element"> Edge Computing </a> </td>
											    <td> <a href="../elements/id-6771d8a932fb4b4f8162c29ddf13a2a3.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5da7dceaaad74e168bcae1eb454d26e9.html" target="element"> Hybrid Cloud Facility </a> </td>
											    <td> <a href="../elements/id-5da7dceaaad74e168bcae1eb454d26e9.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-6411f04bcf5d4c6eac6f7667967ad098.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6411f04bcf5d4c6eac6f7667967ad098.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e7ad3442c714285b3f7cb0c735c1fb2.html" target="element"> Container Images </a> </td>
																		<td> <a href="../elements/id-3f6cffbe394c4ce1a7efe86763fadd22.html" target="element"> Deployment on Containers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b6b80f1b68214160a4367a6ca1f96121.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6b80f1b68214160a4367a6ca1f96121.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0cef956dfbb14678993b9823e0229599.html" target="element"> Shared Platform </a> </td>
																		<td> <a href="../elements/id-4c3dcd22230e4d328c01059ccaf8c380.html" target="element"> {OR} </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-85be6db730844b9bab6822e9e4a2632a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85be6db730844b9bab6822e9e4a2632a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c3dcd22230e4d328c01059ccaf8c380.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-3f6cffbe394c4ce1a7efe86763fadd22.html" target="element"> Deployment on Containers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12f09ca4ae36407fbda1d1c0af33165d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12f09ca4ae36407fbda1d1c0af33165d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c3dcd22230e4d328c01059ccaf8c380.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-c19b587ff9dd421d8c52431a57f38c6c.html" target="element"> Deployment on Virtual machines </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fef28250e4ad4f759fe6de9d3766f864.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fef28250e4ad4f759fe6de9d3766f864.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-916970e1d6174421ae52a157dd0034ac.html" target="element"> {XOR} </a> </td>
																		<td> <a href="../elements/id-02e19348838341d590b9f0e7e8f01362.html" target="element"> {OR} </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-182502167a694387a63c1905d083f49b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-182502167a694387a63c1905d083f49b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-916970e1d6174421ae52a157dd0034ac.html" target="element"> {XOR} </a> </td>
																		<td> <a href="../elements/id-4c3dcd22230e4d328c01059ccaf8c380.html" target="element"> {OR} </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6eff56e72dd24c80bd194e0b1d0d7fd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6eff56e72dd24c80bd194e0b1d0d7fd7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-02e19348838341d590b9f0e7e8f01362.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-3f6cffbe394c4ce1a7efe86763fadd22.html" target="element"> Deployment on Containers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78c344a29ce14787bf2a579528f6bf54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78c344a29ce14787bf2a579528f6bf54.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-02e19348838341d590b9f0e7e8f01362.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-c19b587ff9dd421d8c52431a57f38c6c.html" target="element"> Deployment on Virtual machines </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-67cd6ba3858148fc9406534ab73dd32e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67cd6ba3858148fc9406534ab73dd32e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ace043ecf5954e3e9f550ab4f2639182.html" target="element"> Computing Hosting, Networking, and Data Hosting Infrastructure Registry </a> </td>
																		<td> <a href="../elements/id-02e19348838341d590b9f0e7e8f01362.html" target="element"> {OR} </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e9e13989670c40a697c09a39ea4c39d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9e13989670c40a697c09a39ea4c39d3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f0e25299d354403822396a6ef89d666.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html" target="element"> On Premise Facility </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c51833b99b134d108753d8cc17c8f516.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c51833b99b134d108753d8cc17c8f516.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f0e25299d354403822396a6ef89d666.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html" target="element"> PaaS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97d6f2b1ff7a408195cfded86aa4ed6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97d6f2b1ff7a408195cfded86aa4ed6e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f0e25299d354403822396a6ef89d666.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-576dbcf214ff40b19b0c2d208edb6063.html" target="element"> IaaS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f78fe4a35d534d3581c87ee6393044f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f78fe4a35d534d3581c87ee6393044f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element"> Computing Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-f44b6f129a254e58916b9a82e30a6287.html" target="element"> Virtual Machine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-194048142745401f959e454ea46020e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-194048142745401f959e454ea46020e3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element"> Computing Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-ed7ff62f7f1741eeb87720883bb56a3f.html" target="element"> Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-479e9d6b3da5432d965bb3d4fe09d610.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-479e9d6b3da5432d965bb3d4fe09d610.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element"> Computing Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-c19b587ff9dd421d8c52431a57f38c6c.html" target="element"> Deployment on Virtual machines </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-468ac3e2c2304b8ca98c862ca4e793a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-468ac3e2c2304b8ca98c862ca4e793a1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element"> Computing Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-0f0e25299d354403822396a6ef89d666.html" target="element"> {OR} </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7644fed2baa74c20ad4615f12400e14b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7644fed2baa74c20ad4615f12400e14b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f44b6f129a254e58916b9a82e30a6287.html" target="element"> Virtual Machine </a> </td>
																				<td> <a href="../elements/id-ed7ff62f7f1741eeb87720883bb56a3f.html" target="element"> Server </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-4bc4dbd7cb9d43dea708187f83e9b8ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4bc4dbd7cb9d43dea708187f83e9b8ec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5bca9d50eb64d5eb3810b79c02873ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5bca9d50eb64d5eb3810b79c02873ea.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element"> Containers Orchestrator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f58bd56632214fa29567f9b3b759a745.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f58bd56632214fa29567f9b3b759a745.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e19641181f14482944de8012c6c9938.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e19641181f14482944de8012c6c9938.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e61b51cf207f4475a9d02dbeb95743a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e61b51cf207f4475a9d02dbeb95743a6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-0f0e25299d354403822396a6ef89d666.html" target="element"> {OR} </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9a87b48b1ee9489ab830ae1aa4d8ee02.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9a87b48b1ee9489ab830ae1aa4d8ee02.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																				<td> <a href="../elements/id-3f6cffbe394c4ce1a7efe86763fadd22.html" target="element"> Deployment on Containers </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-37e0c66b227a4965b59c0c804460b307.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-37e0c66b227a4965b59c0c804460b307.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element"> Containers Orchestrator </a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d7d44fe1e20e443786c8ed15277b2d81.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d7d44fe1e20e443786c8ed15277b2d81.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-79ff1f940a0d48aba203f44a94d3a69d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79ff1f940a0d48aba203f44a94d3a69d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																				<td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-527f47f739c64d418c2385345bff99c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-527f47f739c64d418c2385345bff99c2.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																				<td> <a href="../elements/id-0e7ad3442c714285b3f7cb0c735c1fb2.html" target="element"> Container Images </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e3543df7805c4f24b075401a75317a3b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e3543df7805c4f24b075401a75317a3b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											
																	<tr>
																		<td> <a href="../elements/id-d0efb3546bb4482eb5a61f1ed3e67929.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0efb3546bb4482eb5a61f1ed3e67929.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
																		<td> <a href="../elements/id-80993d3be86840ada2ad636f0bf994b1.html" target="element"> Saas </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5e62382cd8ee4f09ae2d77ce2e4c653c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5e62382cd8ee4f09ae2d77ce2e4c653c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-80993d3be86840ada2ad636f0bf994b1.html" target="element"> Saas </a> </td>
																				<td> <a href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html" target="element"> PaaS </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-ba9fae16dfeb425baab183cb8a519a7d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ba9fae16dfeb425baab183cb8a519a7d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html" target="element"> PaaS </a> </td>
																						<td> <a href="../elements/id-576dbcf214ff40b19b0c2d208edb6063.html" target="element"> IaaS </a> </td>
																					</tr>

																	
															
													
											
																	<tr>
																		<td> <a href="../elements/id-c994a264ac0a4755a39a7ca34fad9415.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c994a264ac0a4755a39a7ca34fad9415.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ac903aa60a8455ab8ad9bdd14f766f9.html" target="element"> Private Cloud Computing Facility </a> </td>
																		<td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f421f124a6ac4f9cbd07c0e76a8703b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f421f124a6ac4f9cbd07c0e76a8703b2.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5391eb73ae5b4494bf05974c95f419f2.html" target="element"> Public Cloud Computing Facility </a> </td>
																		<td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1ff35f26fe7d4247aef14abf4bb30607.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ff35f26fe7d4247aef14abf4bb30607.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6771d8a932fb4b4f8162c29ddf13a2a3.html" target="element"> Edge Computing </a> </td>
																		<td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0953d20fe6634b1e95c9a765818a98bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0953d20fe6634b1e95c9a765818a98bb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6771d8a932fb4b4f8162c29ddf13a2a3.html" target="element"> Edge Computing </a> </td>
																		<td> <a href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html" target="element"> On Premise Facility </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-83f984f82c0c4feeb4c037bc5434d3c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83f984f82c0c4feeb4c037bc5434d3c4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5da7dceaaad74e168bcae1eb454d26e9.html" target="element"> Hybrid Cloud Facility </a> </td>
																		<td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01b29bacb7c844848367f4e53ff1801d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01b29bacb7c844848367f4e53ff1801d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5da7dceaaad74e168bcae1eb454d26e9.html" target="element"> Hybrid Cloud Facility </a> </td>
																		<td> <a href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html" target="element"> On Premise Facility </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>