<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OV-Organisational Agreements</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OV-Organisational Agreements</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4f0747dc8d054f3da2c965e827e64789.png" alt="OV-Organisational Agreements" usemap="#id-4f0747dc8d054f3da2c965e827e64789map"/>
			   <map name="id-4f0747dc8d054f3da2c965e827e64789map">
				  				<area shape="rect" coords="475,369,668,465" href="../elements/id-521ebc1717934898848ddc1c747c86e9.html"  target="element">

				  		<area shape="rect" coords="403,333,727,490" href="../elements/id-307cc193814949778b145c60b68d0c31.html"  target="element">
				  				<area shape="rect" coords="803,238,1003,318" href="../elements/id-0259d38689ca4d8fab8b5f41033dee8b.html"  target="element">
				  				<area shape="rect" coords="803,142,1003,222" href="../elements/id-a70e3ff7a6f144bab716f2e2526e2650.html"  target="element">
				  				<area shape="rect" coords="803,46,1003,126" href="../elements/id-b9d472fdda2740f9a990524a7a4c2646.html"  target="element">

				  		<area shape="rect" coords="767,10,1043,334" href="../elements/id-c9aa72e2585e4cc5a8ae4f72ad3492a4.html"  target="element">
				  				<area shape="rect" coords="82,143,282,223" href="../elements/id-defd24cd1c944a7ca9d5fdc7de16ae3d.html"  target="element">

				  		<area shape="rect" coords="10,89,358,255" href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html"  target="element">
				  		<area shape="rect" coords="468,124,661,220" href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The OV-Organisational Agreements view extends Organisational view and provides a comprehensive framework for leveraging various elements that are crucial for the functioning of an organisation. This view is designed to provide a detailed understanding of the organisational agreements and their associated elements.

The first element is the "Organisational Agreement", which is of the type "Contract ABB". The Organisational Agreement ABB is a Contract that enables any agreement to which the Organisation or any Restricted Subsidiary is a party pursuant. This implies that this contract is a binding agreement that the organisation or its restricted subsidiaries must adhere to.

The second element is the "Business Agnostic Organisational Agreement Catalogue", which is of the type "Grouping ABB". This catalogue is a collection of organisational agreements that are business-agnostic, meaning they are applicable regardless of the specific business context or industry. This catalogue includes a sub-element named "National Governance Models", which is of the type "Contract ABB". The National Governance Models are contracts that define the governance models at a national level.

The third element is the "Business Agnostic Organisational Agreement Solutions", which is also of the type "Grouping ABB". This element represents a collection of solutions that are business-agnostic and pertain to organisational agreements. This includes a sub-element named "Code of Conduct for Energy Efficiency in Data Centres", which is of the type "Contract SBB". This contract outlines the code of conduct for maintaining energy efficiency in data centres.

The relationships between these elements are defined by their hierarchical structure. The Organisational Agreement is a standalone element, while the Business Agnostic Organisational Agreement Catalogue and Business Agnostic Organisational Agreement Solutions are groupings that contain specific contracts. These contracts, namely the National Governance Models and the Code of Conduct for Energy Efficiency in Data Centres, are part of their respective groupings and contribute to the overall organisational agreements framework.

The motivation for this structure is to provide a comprehensive and structured view of the organisational agreements, allowing for a clear understanding of the various contracts and their implications. This helps in ensuring compliance and effective governance within the organisation.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html" target="element"> Organisational Agreement </a> </td>
											    <td> <a href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
											    <td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-defd24cd1c944a7ca9d5fdc7de16ae3d.html" target="element"> National Governance Models </a> </td>
													    <td> <a href="../elements/id-defd24cd1c944a7ca9d5fdc7de16ae3d.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c9aa72e2585e4cc5a8ae4f72ad3492a4.html" target="element"> Tax Organisational Agreements Catalogue </a> </td>
											    <td> <a href="../elements/id-c9aa72e2585e4cc5a8ae4f72ad3492a4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b9d472fdda2740f9a990524a7a4c2646.html" target="element"> Agreements to Share tax Data Electronically </a> </td>
													    <td> <a href="../elements/id-b9d472fdda2740f9a990524a7a4c2646.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a70e3ff7a6f144bab716f2e2526e2650.html" target="element"> Agreements with tax intermediaries </a> </td>
													    <td> <a href="../elements/id-a70e3ff7a6f144bab716f2e2526e2650.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0259d38689ca4d8fab8b5f41033dee8b.html" target="element"> Agreements on Digital Single Gateway </a> </td>
													    <td> <a href="../elements/id-0259d38689ca4d8fab8b5f41033dee8b.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-307cc193814949778b145c60b68d0c31.html" target="element"> Business Agnostic Organisational Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-307cc193814949778b145c60b68d0c31.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-521ebc1717934898848ddc1c747c86e9.html" target="element"> Code of Conduct for Energy Efficiency in Data Centres </a> </td>
													    <td> <a href="../elements/id-521ebc1717934898848ddc1c747c86e9.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8bd19fc759264139bc3477dab52f32a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8bd19fc759264139bc3477dab52f32a0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-defd24cd1c944a7ca9d5fdc7de16ae3d.html" target="element"> National Governance Models </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc64bcc2bcf34c4096fe1fe026b797c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc64bcc2bcf34c4096fe1fe026b797c3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html" target="element"> Organisational Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-943929f419a449ed84d04cb19faac07c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-943929f419a449ed84d04cb19faac07c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9aa72e2585e4cc5a8ae4f72ad3492a4.html" target="element"> Tax Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-a70e3ff7a6f144bab716f2e2526e2650.html" target="element"> Agreements with tax intermediaries </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c39b32d7aabe4f1fb14799c49a68a5a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c39b32d7aabe4f1fb14799c49a68a5a1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9aa72e2585e4cc5a8ae4f72ad3492a4.html" target="element"> Tax Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-b9d472fdda2740f9a990524a7a4c2646.html" target="element"> Agreements to Share tax Data Electronically </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f2e9ba16455426db286737757aa637c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f2e9ba16455426db286737757aa637c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9aa72e2585e4cc5a8ae4f72ad3492a4.html" target="element"> Tax Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-0259d38689ca4d8fab8b5f41033dee8b.html" target="element"> Agreements on Digital Single Gateway </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bcdfc953a0d148cf899676f34eedf86b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcdfc953a0d148cf899676f34eedf86b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9aa72e2585e4cc5a8ae4f72ad3492a4.html" target="element"> Tax Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html" target="element"> Organisational Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f4748899d2e34a76a47d956dc07c518d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4748899d2e34a76a47d956dc07c518d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-307cc193814949778b145c60b68d0c31.html" target="element"> Business Agnostic Organisational Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html" target="element"> Organisational Agreement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bfa460311374e73907c4bb662496224.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bfa460311374e73907c4bb662496224.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-307cc193814949778b145c60b68d0c31.html" target="element"> Business Agnostic Organisational Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-521ebc1717934898848ddc1c747c86e9.html" target="element"> Code of Conduct for Energy Efficiency in Data Centres </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>