<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Data Mapping [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Data Mapping [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-66a7431fa8b54813ba0ec79eb9fc079b.png" alt="SV-Data Mapping [Motivation]" usemap="#id-66a7431fa8b54813ba0ec79eb9fc079bmap"/>
			   <map name="id-66a7431fa8b54813ba0ec79eb9fc079bmap">
				  				<area shape="rect" coords="82,182,238,254" href="../elements/id-2f62a053e7c641a1a676d735e8453129.html"  target="element">

				  		<area shape="rect" coords="10,146,310,286" href="../elements/id-5da2adbef1364df5b3d6ebfa6d21c713.html"  target="element">
				  				<area shape="rect" coords="550,166,719,239" href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html"  target="element">
				  				<area shape="rect" coords="550,70,719,143" href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html"  target="element">

				          <area shape="rect" coords="526,10,742,383" href="../objects/id-0fee7fc8add541f4be3204dc26ef6f94.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Data Mapping [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging the elements contained in the JSON data. The view is composed of three main elements: "Business Agnostic Business Information Base", "Business Agnostic Data Mapping Solutions", and "Data Mapping".

The "Business Agnostic Business Information Base" is a Diagram Model-group ABB that serves as a foundation for the business information that is not specific to any particular business. It contains two sub-elements: "Document" and "Data Quality". Both of these are Business Object ABBs, representing different types of business information. The "Document" element represents document information, while "Data Quality" represents data quality information. 

The "Business Agnostic Data Mapping Solutions" is a Grouping ABB that serves as a catalogue for data mapping solutions that are not specific to any business. It contains one sub-element: "RDF Mapping Language (RML)". This is a Data Object SBB that describes RML, a generic mapping language based on and extending R2RML. RML is a mapping language defined to express customized mapping rules from heterogeneous data structures and serializations to the RDF data model. It is a superset of the W3C-standardized mapping language R2RML, aiming to extend its applicability and broaden its scope, adding support for data in other structured formats. 

The "Data Mapping" is a Data Object ABB that aims to bring equivalence in a relationship between two data items with ontological value. It represents the process of creating data element mappings between two distinct data models.

The relationships between these elements are not explicitly defined in the JSON data, but it can be inferred that the "Business Agnostic Business Information Base" and "Business Agnostic Data Mapping Solutions" are related through the process of data mapping, represented by the "Data Mapping" element. The motivation behind these relationships is to provide a comprehensive framework for leveraging business-agnostic information and data mapping solutions to create equivalence between different data items.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-0fee7fc8add541f4be3204dc26ef6f94.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-0fee7fc8add541f4be3204dc26ef6f94.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5da2adbef1364df5b3d6ebfa6d21c713.html" target="element"> Business Agnostic Data Mapping Solutions </a> </td>
											    <td> <a href="../elements/id-5da2adbef1364df5b3d6ebfa6d21c713.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2f62a053e7c641a1a676d735e8453129.html" target="element"> RDF Mapping Language (RML) </a> </td>
													    <td> <a href="../elements/id-2f62a053e7c641a1a676d735e8453129.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-0372d6007f094c4f987353387ffce837.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0372d6007f094c4f987353387ffce837.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5da2adbef1364df5b3d6ebfa6d21c713.html" target="element"> Business Agnostic Data Mapping Solutions </a> </td>
																		<td> <a href="../elements/id-2f62a053e7c641a1a676d735e8453129.html" target="element"> RDF Mapping Language (RML) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-cee75766b6d14253a47cd970a57f4a21.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cee75766b6d14253a47cd970a57f4a21.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f62a053e7c641a1a676d735e8453129.html" target="element"> RDF Mapping Language (RML) </a> </td>
																				<td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1071874a76744dab902b99ec26439c2f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1071874a76744dab902b99ec26439c2f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f62a053e7c641a1a676d735e8453129.html" target="element"> RDF Mapping Language (RML) </a> </td>
																				<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>