<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Data Policy Catalogue</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Data Policy Catalogue</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-76f2a127f0fe40bdb010142041530cbf.png" alt="SV-Data Policy Catalogue" usemap="#id-76f2a127f0fe40bdb010142041530cbfmap"/>
			   <map name="id-76f2a127f0fe40bdb010142041530cbfmap">
				  				<area shape="rect" coords="958,238,1158,318" href="../elements/id-ac8b058387a849e5b3791c3824591e54.html"  target="element">
				  				<area shape="rect" coords="1390,142,1590,222" href="../elements/id-cb48d1aa0e754527afab3e31d06e7f35.html"  target="element">
				  				<area shape="rect" coords="1174,142,1374,222" href="../elements/id-459d3028314c40f2bc71fb00879d4b13.html"  target="element">
				  				<area shape="rect" coords="958,142,1158,222" href="../elements/id-a6abc8c3bb864afabdc902443ce5117a.html"  target="element">
				  				<area shape="rect" coords="1390,46,1590,126" href="../elements/id-5d7a88b123184b139fba5189c3b99d0e.html"  target="element">
				  				<area shape="rect" coords="1174,46,1374,126" href="../elements/id-a66f2e76f3b94d76bd027212a30e9147.html"  target="element">
				  				<area shape="rect" coords="958,46,1158,126" href="../elements/id-07facc9402314524826e04a663749d00.html"  target="element">

				  		<area shape="rect" coords="934,10,1619,335" href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html"  target="element">
				  		<area shape="rect" coords="622,133,822,213" href="../elements/id-0cca36c9f1d944c3b9f6a736d03138cd.html"  target="element">
				  				<area shape="rect" coords="284,185,484,265" href="../elements/id-d74070f86ae44c9e899c30ad4da13b06.html"  target="element">
				  				<area shape="rect" coords="284,77,484,157" href="../elements/id-81bef72c74b341b086b50008c45b6367.html"  target="element">
				  				<area shape="rect" coords="46,185,246,265" href="../elements/id-9480481a764347d0bd39e4b0b9d6c575.html"  target="element">
				  				<area shape="rect" coords="46,77,246,157" href="../elements/id-2109451e2b1e4e78b26c3f93f4708e29.html"  target="element">

				  		<area shape="rect" coords="10,41,526,305" href="../elements/id-8a2936716ee04f06a573f599f1c49323.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Data Policy Catalogue view extends Semantic view and provides a comprehensive framework for leveraging the Business Agnostic Data Policy Catalogue, which is a Grouping ABB. This catalogue includes several Business Object ABBs, each with its own specific purpose and description.

The first Business Object ABB within the Business Agnostic Data Policy Catalogue is the Interoperability Policy. This policy is a set of guidelines that ensure different systems and data within an organization or across entities work together seamlessly. It promotes the use of open standards and best practices to facilitate smooth communication and integration between various systems, applications, and stakeholders.

The second Business Object ABB is the Data Quality Framework. This framework is a structured approach or set of guidelines that organizations use to assess, measure, and improve the quality of their data. It provides a systematic framework for managing data quality throughout its lifecycle, from data collection to data analysis and decision-making.

The third Business Object ABB is the Data Governance Guidelines. These guidelines are a set of principles, rules, and practices that provide direction and guidance for managing and controlling data assets within an organization. They outline the framework for ensuring data quality, integrity, privacy, security, and compliance throughout the data lifecycle.

The fourth Business Object ABB is the Blockchain policy. This policy is a set of rules, guidelines, and controls that govern the management, access, and utilization of data within a blockchain network or ecosystem. It outlines the specific protocols, procedures, and requirements for storing, validating, and securing data on the blockchain.

Lastly, the Data Policy is a standalone Business Object ABB that aims to form the guiding framework in which data management can operate. This policy is crucial in setting the direction and standards for all data-related activities within an organization.

In summary, the SV-Data Policy Catalogue view provides a comprehensive framework that includes various policies and guidelines to ensure effective data management, interoperability, quality, governance, and security. Each of these elements plays a critical role in managing and controlling data assets, promoting data integrity, privacy, and compliance, and facilitating effective data sharing and collaboration.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8a2936716ee04f06a573f599f1c49323.html" target="element"> Business Agnostic Data Policy Catalogue </a> </td>
											    <td> <a href="../elements/id-8a2936716ee04f06a573f599f1c49323.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2109451e2b1e4e78b26c3f93f4708e29.html" target="element"> Interoperability Policy </a> </td>
													    <td> <a href="../elements/id-2109451e2b1e4e78b26c3f93f4708e29.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9480481a764347d0bd39e4b0b9d6c575.html" target="element"> Data Quality Framework </a> </td>
													    <td> <a href="../elements/id-9480481a764347d0bd39e4b0b9d6c575.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-81bef72c74b341b086b50008c45b6367.html" target="element"> Data Governance Guidelines </a> </td>
													    <td> <a href="../elements/id-81bef72c74b341b086b50008c45b6367.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d74070f86ae44c9e899c30ad4da13b06.html" target="element"> Blockchain policy </a> </td>
													    <td> <a href="../elements/id-d74070f86ae44c9e899c30ad4da13b06.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0cca36c9f1d944c3b9f6a736d03138cd.html" target="element"> Data Policy </a> </td>
											    <td> <a href="../elements/id-0cca36c9f1d944c3b9f6a736d03138cd.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html" target="element"> Tax Data Policies Catalogue </a> </td>
											    <td> <a href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-07facc9402314524826e04a663749d00.html" target="element"> European harmonised tax data policies </a> </td>
													    <td> <a href="../elements/id-07facc9402314524826e04a663749d00.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a66f2e76f3b94d76bd027212a30e9147.html" target="element"> Book-keeping data policies </a> </td>
													    <td> <a href="../elements/id-a66f2e76f3b94d76bd027212a30e9147.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d7a88b123184b139fba5189c3b99d0e.html" target="element"> Tax audit policies </a> </td>
													    <td> <a href="../elements/id-5d7a88b123184b139fba5189c3b99d0e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6abc8c3bb864afabdc902443ce5117a.html" target="element"> Harmonized commodity description and coding system (HS) </a> </td>
													    <td> <a href="../elements/id-a6abc8c3bb864afabdc902443ce5117a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-459d3028314c40f2bc71fb00879d4b13.html" target="element"> Tax open data policies </a> </td>
													    <td> <a href="../elements/id-459d3028314c40f2bc71fb00879d4b13.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cb48d1aa0e754527afab3e31d06e7f35.html" target="element"> Tax retention policies </a> </td>
													    <td> <a href="../elements/id-cb48d1aa0e754527afab3e31d06e7f35.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac8b058387a849e5b3791c3824591e54.html" target="element"> Tax data lifecycle guidelines </a> </td>
													    <td> <a href="../elements/id-ac8b058387a849e5b3791c3824591e54.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2709520779724baa9f5ef0332317d818.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2709520779724baa9f5ef0332317d818.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a2936716ee04f06a573f599f1c49323.html" target="element"> Business Agnostic Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-2109451e2b1e4e78b26c3f93f4708e29.html" target="element"> Interoperability Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c306785fc35545259b65b976e7f54448.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c306785fc35545259b65b976e7f54448.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a2936716ee04f06a573f599f1c49323.html" target="element"> Business Agnostic Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-81bef72c74b341b086b50008c45b6367.html" target="element"> Data Governance Guidelines </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c0f7629a7ba40ef9abb0609a1bf3e58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c0f7629a7ba40ef9abb0609a1bf3e58.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a2936716ee04f06a573f599f1c49323.html" target="element"> Business Agnostic Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-9480481a764347d0bd39e4b0b9d6c575.html" target="element"> Data Quality Framework </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ed3324db9e94fec958638c87882eb72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ed3324db9e94fec958638c87882eb72.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a2936716ee04f06a573f599f1c49323.html" target="element"> Business Agnostic Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-d74070f86ae44c9e899c30ad4da13b06.html" target="element"> Blockchain policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-384ff8ff73444989804268d25a93a795.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-384ff8ff73444989804268d25a93a795.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a2936716ee04f06a573f599f1c49323.html" target="element"> Business Agnostic Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-0cca36c9f1d944c3b9f6a736d03138cd.html" target="element"> Data Policy </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1e9ef246fe044979b531c09cc4dae758.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e9ef246fe044979b531c09cc4dae758.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html" target="element"> Tax Data Policies Catalogue </a> </td>
																		<td> <a href="../elements/id-459d3028314c40f2bc71fb00879d4b13.html" target="element"> Tax open data policies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf874d41dcaf4444879eac302c51bf9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf874d41dcaf4444879eac302c51bf9b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html" target="element"> Tax Data Policies Catalogue </a> </td>
																		<td> <a href="../elements/id-07facc9402314524826e04a663749d00.html" target="element"> European harmonised tax data policies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5bf96f2325cf4ab298b968ec09dd8adc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bf96f2325cf4ab298b968ec09dd8adc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html" target="element"> Tax Data Policies Catalogue </a> </td>
																		<td> <a href="../elements/id-cb48d1aa0e754527afab3e31d06e7f35.html" target="element"> Tax retention policies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f6456d7f77244a95bfb02049b9a7f003.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6456d7f77244a95bfb02049b9a7f003.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html" target="element"> Tax Data Policies Catalogue </a> </td>
																		<td> <a href="../elements/id-a6abc8c3bb864afabdc902443ce5117a.html" target="element"> Harmonized commodity description and coding system (HS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79fefd9f6e954c748fc911fe66a3667a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79fefd9f6e954c748fc911fe66a3667a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html" target="element"> Tax Data Policies Catalogue </a> </td>
																		<td> <a href="../elements/id-5d7a88b123184b139fba5189c3b99d0e.html" target="element"> Tax audit policies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ec916f746184c3abbfc4a58a5a02b06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ec916f746184c3abbfc4a58a5a02b06.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html" target="element"> Tax Data Policies Catalogue </a> </td>
																		<td> <a href="../elements/id-a66f2e76f3b94d76bd027212a30e9147.html" target="element"> Book-keeping data policies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5aa59b7e0c6449d58a0d52a3ec550ab2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5aa59b7e0c6449d58a0d52a3ec550ab2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html" target="element"> Tax Data Policies Catalogue </a> </td>
																		<td> <a href="../elements/id-ac8b058387a849e5b3791c3824591e54.html" target="element"> Tax data lifecycle guidelines </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2d2d7fed52dd456b97b4fa1fc5880f7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d2d7fed52dd456b97b4fa1fc5880f7c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9929b65c782b4a1bb3cc50b429ab827b.html" target="element"> Tax Data Policies Catalogue </a> </td>
																		<td> <a href="../elements/id-0cca36c9f1d944c3b9f6a736d03138cd.html" target="element"> Data Policy </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>