<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OV-Digital Public Service Consumers</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OV-Digital Public Service Consumers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-705cd5dfbd124474b8d245468709562c.png" alt="OV-Digital Public Service Consumers" usemap="#id-705cd5dfbd124474b8d245468709562cmap"/>
			   <map name="id-705cd5dfbd124474b8d245468709562cmap">
				  						<area shape="rect" coords="574,177,774,257" href="../elements/id-dad39a11e113469080c57e0d6a574586.html"  target="element">
				  						<area shape="rect" coords="790,369,990,449" href="../elements/id-3046bbeac1ee4f848152beec261f6306.html"  target="element">
				  						<area shape="rect" coords="1006,369,1206,449" href="../elements/id-1c2de6b27af1433683cd68327cc5f0c4.html"  target="element">
				  						<area shape="rect" coords="1006,273,1206,353" href="../elements/id-c2e890df6c6f487d8deabba7bf8a642e.html"  target="element">
				  						<area shape="rect" coords="574,369,774,449" href="../elements/id-f0344daf71a84c84a304ff42d3ff4c6a.html"  target="element">
				  						<area shape="rect" coords="1006,177,1206,257" href="../elements/id-b654713311f646bf81ce912e4d014cca.html"  target="element">
				  						<area shape="rect" coords="1006,84,1206,164" href="../elements/id-807306d3da624671b0af69e16a6fc5b2.html"  target="element">
				  						<area shape="rect" coords="790,84,990,164" href="../elements/id-fb42726e55614c788225d98fa952b650.html"  target="element">
				  						<area shape="rect" coords="790,177,990,257" href="../elements/id-d471c24af0d94ac29a19f4d62ec6f47c.html"  target="element">
				  						<area shape="rect" coords="790,273,990,353" href="../elements/id-aa23d8f39ba840ddaf565181686f4134.html"  target="element">
				  						<area shape="rect" coords="574,273,774,353" href="../elements/id-99ec35184331480a9dc67917693920ee.html"  target="element">
				  						<area shape="rect" coords="574,84,774,164" href="../elements/id-a283194360fa45d28b8a9781f95b0d4d.html"  target="element">

				  				<area shape="rect" coords="562,45,1247,466" href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html"  target="element">
				  				<area shape="rect" coords="46,214,214,298" href="../elements/id-5ec2efbf207345f993580c8c0bff17aa.html"  target="element">
				  				<area shape="rect" coords="283,214,451,298" href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html"  target="element">

				  		<area shape="rect" coords="10,10,1283,503" href="../elements/id-dd0074b4c0784e429357f6819e425597.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The OV-Digital Public Service Consumers view extends Organisational view and provides a comprehensive framework for leveraging the digital public service delivery model. This model, known as the Digital Public Service Delivery Model ABB, is a Business Collaboration that represents a collection of concepts related to how the public sector delivers digital technologies to citizens and businesses.

Within this model, there are two key business roles: the Digital Public Service Consumer ABB and the Data Consumer ABB. The Digital Public Service Consumer ABB represents the entities that can access and consume public services provided by a public authority. On the other hand, the Data Consumer ABB is responsible for using data provided by other roles or systems, either by consuming, analyzing, interpreting, or presenting data. Data consumers may also be accountable for the appropriate and ethical use of the data they consume.

The model also includes a Tax Digital Public Service Consumers Catalogue, which is a Grouping ABB. This catalogue comprises various Business Actor ABBs, including the Social Security Administration, Business, Citizen, Customs authority, Statistical authorities, Quality control authority, Public Administration, Tributary justice court, Tax Ombudsman, Temporary excise taxpayers, Registered excise tax payer, and Tax administration. Each of these actors plays a specific role in the digital public service delivery model.

The relationships between these elements are crucial for the functioning of the model. The Digital Public Service Consumer ABB and the Data Consumer ABB interact with the various Business Actor ABBs in the Tax Digital Public Service Consumers Catalogue to facilitate the delivery of digital public services. The motivation behind these relationships is to ensure that digital public services are delivered efficiently and effectively to the relevant consumers.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
											    <td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html" target="element"> Digital Public Service Consumer </a> </td>
													    <td> <a href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5ec2efbf207345f993580c8c0bff17aa.html" target="element"> Data Consumer </a> </td>
													    <td> <a href="../elements/id-5ec2efbf207345f993580c8c0bff17aa.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
													    <td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a283194360fa45d28b8a9781f95b0d4d.html" target="element"> Social Security Administration </a> </td>
															    <td> <a href="../elements/id-a283194360fa45d28b8a9781f95b0d4d.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-99ec35184331480a9dc67917693920ee.html" target="element"> Business </a> </td>
															    <td> <a href="../elements/id-99ec35184331480a9dc67917693920ee.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-aa23d8f39ba840ddaf565181686f4134.html" target="element"> Citizen </a> </td>
															    <td> <a href="../elements/id-aa23d8f39ba840ddaf565181686f4134.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d471c24af0d94ac29a19f4d62ec6f47c.html" target="element"> Customs authority </a> </td>
															    <td> <a href="../elements/id-d471c24af0d94ac29a19f4d62ec6f47c.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fb42726e55614c788225d98fa952b650.html" target="element"> Statistical authorities </a> </td>
															    <td> <a href="../elements/id-fb42726e55614c788225d98fa952b650.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-807306d3da624671b0af69e16a6fc5b2.html" target="element"> Quality control authority </a> </td>
															    <td> <a href="../elements/id-807306d3da624671b0af69e16a6fc5b2.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b654713311f646bf81ce912e4d014cca.html" target="element"> Public Administration </a> </td>
															    <td> <a href="../elements/id-b654713311f646bf81ce912e4d014cca.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f0344daf71a84c84a304ff42d3ff4c6a.html" target="element"> Tributary justice court </a> </td>
															    <td> <a href="../elements/id-f0344daf71a84c84a304ff42d3ff4c6a.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c2e890df6c6f487d8deabba7bf8a642e.html" target="element"> Tax Ombudsman </a> </td>
															    <td> <a href="../elements/id-c2e890df6c6f487d8deabba7bf8a642e.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1c2de6b27af1433683cd68327cc5f0c4.html" target="element"> Temporary excise taxpayers </a> </td>
															    <td> <a href="../elements/id-1c2de6b27af1433683cd68327cc5f0c4.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3046bbeac1ee4f848152beec261f6306.html" target="element"> Registered excise tax payer </a> </td>
															    <td> <a href="../elements/id-3046bbeac1ee4f848152beec261f6306.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-dad39a11e113469080c57e0d6a574586.html" target="element"> Tax administration </a> </td>
															    <td> <a href="../elements/id-dad39a11e113469080c57e0d6a574586.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4066a4fc5b45412e997cabb827a9c930.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4066a4fc5b45412e997cabb827a9c930.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
																		<td> <a href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html" target="element"> Digital Public Service Consumer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a72500e93d94ddc99c677f27b5d551b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a72500e93d94ddc99c677f27b5d551b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
																		<td> <a href="../elements/id-5ec2efbf207345f993580c8c0bff17aa.html" target="element"> Data Consumer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2db83541cbe44a1096a35c7dcddad45f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2db83541cbe44a1096a35c7dcddad45f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
																		<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b8f01050a94f4641b7f7f936e2d5bf24.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8f01050a94f4641b7f7f936e2d5bf24.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5ec2efbf207345f993580c8c0bff17aa.html" target="element"> Data Consumer </a> </td>
																				<td> <a href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html" target="element"> Digital Public Service Consumer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-90a8ad5433504b28a498e4b5ce23b540.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-90a8ad5433504b28a498e4b5ce23b540.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-c2e890df6c6f487d8deabba7bf8a642e.html" target="element"> Tax Ombudsman </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1554e5b0f6054a9fb0972df1ba26024f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1554e5b0f6054a9fb0972df1ba26024f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-1c2de6b27af1433683cd68327cc5f0c4.html" target="element"> Temporary excise taxpayers </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0ab7944138c94e7f9488230157acb6a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0ab7944138c94e7f9488230157acb6a5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-3046bbeac1ee4f848152beec261f6306.html" target="element"> Registered excise tax payer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a4922fc2769d4f05ab81b9a536752713.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a4922fc2769d4f05ab81b9a536752713.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-d471c24af0d94ac29a19f4d62ec6f47c.html" target="element"> Customs authority </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e6c74c0bb7604a97bab45704d627d8d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e6c74c0bb7604a97bab45704d627d8d4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-aa23d8f39ba840ddaf565181686f4134.html" target="element"> Citizen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ec93cfcbf02d4b5c92d71181a9925a79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ec93cfcbf02d4b5c92d71181a9925a79.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-fb42726e55614c788225d98fa952b650.html" target="element"> Statistical authorities </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-38c7ab7b3e3a48f79c52fa46c917d5b3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-38c7ab7b3e3a48f79c52fa46c917d5b3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-807306d3da624671b0af69e16a6fc5b2.html" target="element"> Quality control authority </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8a00c0ec879a46698484928a72a0e9ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8a00c0ec879a46698484928a72a0e9ac.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-99ec35184331480a9dc67917693920ee.html" target="element"> Business </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-08563e31d7084a5db86c9e4974d266d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08563e31d7084a5db86c9e4974d266d1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-f0344daf71a84c84a304ff42d3ff4c6a.html" target="element"> Tributary justice court </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7dc9fcf820a9467898c7a04838c16efc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7dc9fcf820a9467898c7a04838c16efc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-b654713311f646bf81ce912e4d014cca.html" target="element"> Public Administration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-631f1b125b0f4487bc4e0784a6597fb6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-631f1b125b0f4487bc4e0784a6597fb6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-a283194360fa45d28b8a9781f95b0d4d.html" target="element"> Social Security Administration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cfc63fce127f4c3cbf7e5c971ada82aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cfc63fce127f4c3cbf7e5c971ada82aa.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html" target="element"> Digital Public Service Consumer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fa26450ac8384f568e6d8b95a729fd48.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fa26450ac8384f568e6d8b95a729fd48.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6365da58c309452d9d02b92eec13bdcf.html" target="element"> Tax Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-dad39a11e113469080c57e0d6a574586.html" target="element"> Tax administration </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>