<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Tax Semantic Agreements Catalogue</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Tax Semantic Agreements Catalogue</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d9d194d02c4241f3b4a86bfd46de521f.png" alt="SV-Tax Semantic Agreements Catalogue" usemap="#id-d9d194d02c4241f3b4a86bfd46de521fmap"/>
			   <map name="id-d9d194d02c4241f3b4a86bfd46de521fmap">
				  				<area shape="rect" coords="686,139,886,219" href="../elements/id-a442975509e7480cafb00eb426a11c4a.html"  target="element">
				  				<area shape="rect" coords="902,44,1102,124" href="../elements/id-4911fdd787664b57889c045f21af7ab5.html"  target="element">
				  				<area shape="rect" coords="686,44,886,124" href="../elements/id-33cf114d6a16499c9b068364c237dce0.html"  target="element">

				  		<area shape="rect" coords="650,10,1133,239" href="../elements/id-bfc87a9e12c94800a3a2acd55b6bb54a.html"  target="element">
				  		<area shape="rect" coords="10,85,210,165" href="../elements/id-831cf12982c949ba8ad4a778b2c2e011.html"  target="element">
				  		<area shape="rect" coords="326,85,526,165" href="../elements/id-b34c11b8195c453b9d29414a392fee9b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Tax Semantic Agreements Catalogue view extends Semantic view and provides a comprehensive framework for leveraging the semantic agreements and interoperability agreements in the context of tax and tariff regulations. This view is composed of three main elements: Semantic Agreement, Semantic Interoperability Agreement, and Tax Semantic Agreements Solutions.

The Semantic Agreement, classified as a Contract ABB, formalizes an agreement from a peer to the common ontology that is the result of a matching or mapping process used to resolve their semantic discrepancies. This process involves a linguistic base, internal and external structure comparison. The result of this matching combination is used to develop an agreement unit as a component of the agreement. The agreement operates under certain assumptions, such as using the same language to represent the schema/ontology, labels, and the meaning of a concept, and there is no individual at the common ontology.

The Semantic Interoperability Agreement, also a Contract ABB, formalizes governance rules enabling collaboration between digital public services with ontological value. This agreement is crucial for ensuring seamless interaction and data exchange between different digital public services.

The Tax Semantic Agreements Solutions is a Grouping ABB that encompasses three Contract SBBs: Tax and Tariff Combined Nomenclature, WTO Nomenclature Agreements, and Tax Harmonisation Agreements. These contracts represent specific semantic agreements related to tax and tariff regulations. The Tax and Tariff Combined Nomenclature Contract outlines the combined nomenclature for tax and tariff. The WTO Nomenclature Agreements Contract details the agreements on nomenclature as per the World Trade Organization. The Tax Harmonisation Agreements Contract formalizes agreements for harmonizing tax regulations.

The relationships between these elements are primarily hierarchical, with the Semantic Agreement and Semantic Interoperability Agreement being overarching contracts that govern the specific agreements within the Tax Semantic Agreements Solutions grouping. The motivation behind this structure is to provide a comprehensive and structured approach to managing semantic agreements in the context of tax and tariff regulations, thereby facilitating semantic interoperability and collaboration between digital public services.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b34c11b8195c453b9d29414a392fee9b.html" target="element"> Semantic Agreement </a> </td>
											    <td> <a href="../elements/id-b34c11b8195c453b9d29414a392fee9b.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-831cf12982c949ba8ad4a778b2c2e011.html" target="element"> Semantic Interoperability Agreement </a> </td>
											    <td> <a href="../elements/id-831cf12982c949ba8ad4a778b2c2e011.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bfc87a9e12c94800a3a2acd55b6bb54a.html" target="element"> Tax Semantic Agreements Solutions </a> </td>
											    <td> <a href="../elements/id-bfc87a9e12c94800a3a2acd55b6bb54a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-33cf114d6a16499c9b068364c237dce0.html" target="element"> Tax and Tariff Combined nomenclature </a> </td>
													    <td> <a href="../elements/id-33cf114d6a16499c9b068364c237dce0.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4911fdd787664b57889c045f21af7ab5.html" target="element"> WTO nomenclature agreements </a> </td>
													    <td> <a href="../elements/id-4911fdd787664b57889c045f21af7ab5.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a442975509e7480cafb00eb426a11c4a.html" target="element"> Tax harmonisation agreements </a> </td>
													    <td> <a href="../elements/id-a442975509e7480cafb00eb426a11c4a.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8b733cc1414c4c0085cc45cfa5462a51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b733cc1414c4c0085cc45cfa5462a51.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-831cf12982c949ba8ad4a778b2c2e011.html" target="element"> Semantic Interoperability Agreement </a> </td>
																		<td> <a href="../elements/id-b34c11b8195c453b9d29414a392fee9b.html" target="element"> Semantic Agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b5587cabe8314fb585430eb51fde6ddf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5587cabe8314fb585430eb51fde6ddf.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfc87a9e12c94800a3a2acd55b6bb54a.html" target="element"> Tax Semantic Agreements Solutions </a> </td>
																		<td> <a href="../elements/id-4911fdd787664b57889c045f21af7ab5.html" target="element"> WTO nomenclature agreements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2489081e566a45bc858454b9deb4d343.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2489081e566a45bc858454b9deb4d343.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfc87a9e12c94800a3a2acd55b6bb54a.html" target="element"> Tax Semantic Agreements Solutions </a> </td>
																		<td> <a href="../elements/id-a442975509e7480cafb00eb426a11c4a.html" target="element"> Tax harmonisation agreements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64d24a6db35942a5860d2fe2c1493b44.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64d24a6db35942a5860d2fe2c1493b44.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfc87a9e12c94800a3a2acd55b6bb54a.html" target="element"> Tax Semantic Agreements Solutions </a> </td>
																		<td> <a href="../elements/id-33cf114d6a16499c9b068364c237dce0.html" target="element"> Tax and Tariff Combined nomenclature </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2822dc0a4c6f41179177c89790f66dc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2822dc0a4c6f41179177c89790f66dc4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfc87a9e12c94800a3a2acd55b6bb54a.html" target="element"> Tax Semantic Agreements Solutions </a> </td>
																		<td> <a href="../elements/id-b34c11b8195c453b9d29414a392fee9b.html" target="element"> Semantic Agreement </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>