<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OV-Digital Public Service Providers</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OV-Digital Public Service Providers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d2f9e066af204a87a87fc2cf04ac2e74.png" alt="OV-Digital Public Service Providers" usemap="#id-d2f9e066af204a87a87fc2cf04ac2e74map"/>
			   <map name="id-d2f9e066af204a87a87fc2cf04ac2e74map">
				  						<area shape="rect" coords="586,298,786,378" href="../elements/id-7ffac58e69c14cd8979ae25b60f94295.html"  target="element">
				  						<area shape="rect" coords="586,202,786,282" href="../elements/id-8e0ac3754ce44822bb2483e13f77c30c.html"  target="element">
				  						<area shape="rect" coords="802,202,1002,282" href="../elements/id-e4ee9a9507c64f44aa84adfe3a29b67c.html"  target="element">
				  						<area shape="rect" coords="802,106,1002,186" href="../elements/id-97ae2508404b4accbbf900964f9b3b88.html"  target="element">
				  						<area shape="rect" coords="586,106,786,186" href="../elements/id-dad39a11e113469080c57e0d6a574586.html"  target="element">

				  				<area shape="rect" coords="574,70,1018,394" href="../elements/id-f415753b3c274c34b4843a38d08661dd.html"  target="element">
				  				<area shape="rect" coords="61,190,229,274" href="../elements/id-3d52df2e51a24808876aa9626271ea35.html"  target="element">
				  				<area shape="rect" coords="298,190,466,274" href="../elements/id-6c632453d13241e6b8f2dcfea86c24aa.html"  target="element">

				  		<area shape="rect" coords="10,10,1067,431" href="../elements/id-dd0074b4c0784e429357f6819e425597.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The OV-Digital Public Service Providers view extends Organisational view and provides a comprehensive framework for leveraging the digital transformation in the public sector. This view is represented by the 'Digital Public Service Delivery Model' which is a Business Collaboration ABB. This model represents a collection of concepts related to the way in which the public sector delivers digital technologies to citizens and businesses.

Within this model, there are two key roles. The first is the 'Digital Public Service Provider', a Business Role ABB that represents the entity that offers or delivers public services using digital channels and technologies. The goal of these providers is to provide efficient and accessible services to citizens and businesses by leveraging the power of digital technology. 

The second role is the 'Data Provider', another Business Role ABB. This role is responsible for providing data to other roles or systems, either by producing, collecting, transforming, or delivering data. Data providers may also be accountable for the quality, security, and availability of the data they provide.

In addition, the 'Digital Public Service Delivery Model' includes a 'Tax Digital Public Service Providers Catalogue', a Grouping ABB that encompasses several Business Actor ABBs. These actors include 'Tax administration', 'Financial Service Provider', 'Property management authority', 'Internal Affairs', and 'Central Liason Office'. Each of these actors plays a specific role in the provision of digital public services, contributing to the overall efficiency and effectiveness of public service delivery. 

In summary, the OV-Digital Public Service Providers view provides a detailed representation of the roles, responsibilities, and relationships involved in the delivery of digital public services. This view is crucial for understanding how digital technologies can be leveraged to improve public service delivery and enhance the citizen and business experience.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
											    <td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6c632453d13241e6b8f2dcfea86c24aa.html" target="element"> Digital Public Service Provider </a> </td>
													    <td> <a href="../elements/id-6c632453d13241e6b8f2dcfea86c24aa.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d52df2e51a24808876aa9626271ea35.html" target="element"> Data Provider </a> </td>
													    <td> <a href="../elements/id-3d52df2e51a24808876aa9626271ea35.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f415753b3c274c34b4843a38d08661dd.html" target="element"> Tax Digital Public Service Providers Catalogue </a> </td>
													    <td> <a href="../elements/id-f415753b3c274c34b4843a38d08661dd.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-dad39a11e113469080c57e0d6a574586.html" target="element"> Tax administration </a> </td>
															    <td> <a href="../elements/id-dad39a11e113469080c57e0d6a574586.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-97ae2508404b4accbbf900964f9b3b88.html" target="element"> Financial Service Provider </a> </td>
															    <td> <a href="../elements/id-97ae2508404b4accbbf900964f9b3b88.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e4ee9a9507c64f44aa84adfe3a29b67c.html" target="element"> Property management authority </a> </td>
															    <td> <a href="../elements/id-e4ee9a9507c64f44aa84adfe3a29b67c.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8e0ac3754ce44822bb2483e13f77c30c.html" target="element"> Internal Affairs </a> </td>
															    <td> <a href="../elements/id-8e0ac3754ce44822bb2483e13f77c30c.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7ffac58e69c14cd8979ae25b60f94295.html" target="element"> Central Liason Office </a> </td>
															    <td> <a href="../elements/id-7ffac58e69c14cd8979ae25b60f94295.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ea4168b3b9494a70b7dd4d85696bbb31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea4168b3b9494a70b7dd4d85696bbb31.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
																		<td> <a href="../elements/id-3d52df2e51a24808876aa9626271ea35.html" target="element"> Data Provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e02386a583df49fcacc010c9e0984f98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e02386a583df49fcacc010c9e0984f98.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
																		<td> <a href="../elements/id-6c632453d13241e6b8f2dcfea86c24aa.html" target="element"> Digital Public Service Provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-222d1ea8191a4dd3845015cc6a2825bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-222d1ea8191a4dd3845015cc6a2825bd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
																		<td> <a href="../elements/id-f415753b3c274c34b4843a38d08661dd.html" target="element"> Tax Digital Public Service Providers Catalogue </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a70920af57c248e3a036241c1f980c90.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a70920af57c248e3a036241c1f980c90.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3d52df2e51a24808876aa9626271ea35.html" target="element"> Data Provider </a> </td>
																				<td> <a href="../elements/id-6c632453d13241e6b8f2dcfea86c24aa.html" target="element"> Digital Public Service Provider </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e53f9a5991bb4e5fb9738ddb706f9e62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e53f9a5991bb4e5fb9738ddb706f9e62.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f415753b3c274c34b4843a38d08661dd.html" target="element"> Tax Digital Public Service Providers Catalogue </a> </td>
																				<td> <a href="../elements/id-97ae2508404b4accbbf900964f9b3b88.html" target="element"> Financial Service Provider </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4b2fe403f52a494580e4e4219c5eebee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b2fe403f52a494580e4e4219c5eebee.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f415753b3c274c34b4843a38d08661dd.html" target="element"> Tax Digital Public Service Providers Catalogue </a> </td>
																				<td> <a href="../elements/id-e4ee9a9507c64f44aa84adfe3a29b67c.html" target="element"> Property management authority </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3c95646c39134e7c806481a1d4987e57.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3c95646c39134e7c806481a1d4987e57.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f415753b3c274c34b4843a38d08661dd.html" target="element"> Tax Digital Public Service Providers Catalogue </a> </td>
																				<td> <a href="../elements/id-8e0ac3754ce44822bb2483e13f77c30c.html" target="element"> Internal Affairs </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6d97343a01f7425386bf96ab5aa70321.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6d97343a01f7425386bf96ab5aa70321.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f415753b3c274c34b4843a38d08661dd.html" target="element"> Tax Digital Public Service Providers Catalogue </a> </td>
																				<td> <a href="../elements/id-dad39a11e113469080c57e0d6a574586.html" target="element"> Tax administration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8b93934eaa1549209309fec6290a360a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8b93934eaa1549209309fec6290a360a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f415753b3c274c34b4843a38d08661dd.html" target="element"> Tax Digital Public Service Providers Catalogue </a> </td>
																				<td> <a href="../elements/id-7ffac58e69c14cd8979ae25b60f94295.html" target="element"> Central Liason Office </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e09d1ef37a0543b09c7e06e3fa4f5727.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e09d1ef37a0543b09c7e06e3fa4f5727.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f415753b3c274c34b4843a38d08661dd.html" target="element"> Tax Digital Public Service Providers Catalogue </a> </td>
																				<td> <a href="../elements/id-6c632453d13241e6b8f2dcfea86c24aa.html" target="element"> Digital Public Service Provider </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>