<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Datasets Catalogue [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Datasets Catalogue [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-eb909b709a294a07bdefc3f44e7aa692.png" alt="SV-Datasets Catalogue [Motivation]" usemap="#id-eb909b709a294a07bdefc3f44e7aa692map"/>
			   <map name="id-eb909b709a294a07bdefc3f44e7aa692map">
				  		<area shape="rect" coords="265,400,453,495" href="../elements/id-ef194b3d3b0845dc984eed483afa69fa.html"  target="element">
				  				<area shape="rect" coords="472,820,672,900" href="../elements/id-154060436f304dcfadcf32900f976f50.html"  target="element">
				  				<area shape="rect" coords="472,724,672,804" href="../elements/id-f92a628952b64686b2a87d703882b9c8.html"  target="element">
				  				<area shape="rect" coords="256,820,456,900" href="../elements/id-8ce2a6f205f94ecd99dcd1bffc96e6d5.html"  target="element">
				  				<area shape="rect" coords="40,820,240,900" href="../elements/id-c50f8833219e450383e63ca01c26e3bb.html"  target="element">
				  				<area shape="rect" coords="472,628,672,708" href="../elements/id-f7b8f1c31fd44c239fc2fc575b7e3d52.html"  target="element">
				  				<area shape="rect" coords="256,628,456,708" href="../elements/id-115755da310843d09bf030e52d8b095f.html"  target="element">
				  				<area shape="rect" coords="256,724,456,804" href="../elements/id-da82e053441f409eb48949f68773896f.html"  target="element">
				  				<area shape="rect" coords="40,724,240,804" href="../elements/id-09188746c9114ca2a30c857d3491b4d6.html"  target="element">
				  				<area shape="rect" coords="40,628,240,708" href="../elements/id-c1378da20b36453abd84db4aded4d7a7.html"  target="element">

				  		<area shape="rect" coords="16,604,701,917" href="../elements/id-2df2c8b9ae74402495de2642d454896b.html"  target="element">
				  				<area shape="rect" coords="973,226,1173,306" href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html"  target="element">
				  				<area shape="rect" coords="973,82,1173,162" href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html"  target="element">

				          <area shape="rect" coords="937,10,1202,407" href="../objects/id-a7a05f1088334712941d35209d7fa4a7.html" target="element" >
				  				<area shape="rect" coords="478,177,678,257" href="../elements/id-230d8b708f534005b1050a35d8cf5126.html"  target="element">
				  				<area shape="rect" coords="34,177,234,257" href="../elements/id-4af2439c284842e5a8ec98e766097090.html"  target="element">
				  				<area shape="rect" coords="257,177,457,257" href="../elements/id-093d12f925bf48e39c6099ab899f18ea.html"  target="element">

				  		<area shape="rect" coords="10,136,707,281" href="../elements/id-f6f6db98f86c458fb635988d35a27dbc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Datasets Catalogue [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging various elements related to data cataloguing and data quality. This view is primarily composed of four main elements: 'Business Agnostic Dataset Catalogue Solutions', 'Business Agnostic Business Information Base', 'Dataset Catalogue', and 'Dataset'.

The 'Business Agnostic Dataset Catalogue Solutions' is a Grouping ABB that encompasses three Data Object SBBs: 'Eurostat Data Catalogue', 'Official Portal for European Data', and 'CELLAR'. Each of these data objects represents a unique data catalogue solution. The 'Eurostat Data Catalogue' is a comprehensive repository of statistical data maintained by EUROSTAT, the statistical office of the European Union (EU). The 'Official Portal for European Data' serves as a central point of access to European open data from various international, national, regional, local, and geodata portals. 'CELLAR' is the common data repository of the Publications Office of the European Union, storing digital publications and metadata for use by humans and machines.

The 'Business Agnostic Business Information Base' is a Diagram Model-group ABB that includes two Business Object ABBs: 'Availability' and 'Data Quality'. These objects represent critical aspects of business information, with 'Availability' referring to the accessibility of the data and 'Data Quality' referring to the integrity and reliability of the data.

The 'Dataset Catalogue' is a Data Object ABB that represents an inventory of datasets indexed in a systematic manner. This object is crucial for organizing and managing the datasets within the catalogue.

The 'Dataset' is another Data Object ABB that represents a collection of related data organized and presented in a structured format. This object is fundamental to the concept of data cataloguing as it represents the actual data that is being catalogued.

The relationships among these elements are defined by their hierarchical structure within the JSON. The 'Business Agnostic Dataset Catalogue Solutions' and 'Business Agnostic Business Information Base' are overarching elements that encompass more specific data objects and business objects, respectively. The 'Dataset Catalogue' and 'Dataset' are standalone elements that represent key aspects of the data cataloguing process. The motivation behind these elements and their relationships is to provide a comprehensive and structured approach to data cataloguing, ensuring data quality and availability.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f6f6db98f86c458fb635988d35a27dbc.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
											    <td> <a href="../elements/id-f6f6db98f86c458fb635988d35a27dbc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-093d12f925bf48e39c6099ab899f18ea.html" target="element"> Eurostat Data Catalogue </a> </td>
													    <td> <a href="../elements/id-093d12f925bf48e39c6099ab899f18ea.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4af2439c284842e5a8ec98e766097090.html" target="element"> Official Portal for European Data </a> </td>
													    <td> <a href="../elements/id-4af2439c284842e5a8ec98e766097090.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-230d8b708f534005b1050a35d8cf5126.html" target="element"> CELLAR </a> </td>
													    <td> <a href="../elements/id-230d8b708f534005b1050a35d8cf5126.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-a7a05f1088334712941d35209d7fa4a7.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-a7a05f1088334712941d35209d7fa4a7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
											    <td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c1378da20b36453abd84db4aded4d7a7.html" target="element"> Tax base amounts registry </a> </td>
													    <td> <a href="../elements/id-c1378da20b36453abd84db4aded4d7a7.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09188746c9114ca2a30c857d3491b4d6.html" target="element"> Local tax authorities </a> </td>
													    <td> <a href="../elements/id-09188746c9114ca2a30c857d3491b4d6.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-da82e053441f409eb48949f68773896f.html" target="element"> Taxpayer obligations catalogue </a> </td>
													    <td> <a href="../elements/id-da82e053441f409eb48949f68773896f.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-115755da310843d09bf030e52d8b095f.html" target="element"> Economic activities catalogue </a> </td>
													    <td> <a href="../elements/id-115755da310843d09bf030e52d8b095f.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7b8f1c31fd44c239fc2fc575b7e3d52.html" target="element"> Catalogueue of Assets that can be confiscated </a> </td>
													    <td> <a href="../elements/id-f7b8f1c31fd44c239fc2fc575b7e3d52.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c50f8833219e450383e63ca01c26e3bb.html" target="element"> Excise duty catalogue </a> </td>
													    <td> <a href="../elements/id-c50f8833219e450383e63ca01c26e3bb.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8ce2a6f205f94ecd99dcd1bffc96e6d5.html" target="element"> Fiscal data sets catalogue </a> </td>
													    <td> <a href="../elements/id-8ce2a6f205f94ecd99dcd1bffc96e6d5.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f92a628952b64686b2a87d703882b9c8.html" target="element"> Harmonised tax catalogue </a> </td>
													    <td> <a href="../elements/id-f92a628952b64686b2a87d703882b9c8.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-154060436f304dcfadcf32900f976f50.html" target="element"> Taxpayer rights catalogue </a> </td>
													    <td> <a href="../elements/id-154060436f304dcfadcf32900f976f50.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ef194b3d3b0845dc984eed483afa69fa.html" target="element"> Dataset Catalogue </a> </td>
											    <td> <a href="../elements/id-ef194b3d3b0845dc984eed483afa69fa.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-058999313d69404bae434906a11d0ac7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-058999313d69404bae434906a11d0ac7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6f6db98f86c458fb635988d35a27dbc.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-4af2439c284842e5a8ec98e766097090.html" target="element"> Official Portal for European Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c65cd8969af4195a26f0251b5540dca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c65cd8969af4195a26f0251b5540dca.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6f6db98f86c458fb635988d35a27dbc.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-230d8b708f534005b1050a35d8cf5126.html" target="element"> CELLAR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-81ce093e06804ac1853379a0f4aaaff1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81ce093e06804ac1853379a0f4aaaff1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6f6db98f86c458fb635988d35a27dbc.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-093d12f925bf48e39c6099ab899f18ea.html" target="element"> Eurostat Data Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b12c54951b5346e98874e9320cb13a96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b12c54951b5346e98874e9320cb13a96.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6f6db98f86c458fb635988d35a27dbc.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html" target="element"> Availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7736b64d5451457b92366ba5dcbb9722.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7736b64d5451457b92366ba5dcbb9722.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6f6db98f86c458fb635988d35a27dbc.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-848c934a2b974052b09f7c9accebf56b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-848c934a2b974052b09f7c9accebf56b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6f6db98f86c458fb635988d35a27dbc.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-ef194b3d3b0845dc984eed483afa69fa.html" target="element"> Dataset Catalogue </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-ea80ef6cd2454305879ef296a4210eae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea80ef6cd2454305879ef296a4210eae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
																		<td> <a href="../elements/id-154060436f304dcfadcf32900f976f50.html" target="element"> Taxpayer rights catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-35d554c73d0040ef8fa074d78014f6fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35d554c73d0040ef8fa074d78014f6fd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
																		<td> <a href="../elements/id-c50f8833219e450383e63ca01c26e3bb.html" target="element"> Excise duty catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4346836773134680a4efc27495541ff7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4346836773134680a4efc27495541ff7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
																		<td> <a href="../elements/id-f7b8f1c31fd44c239fc2fc575b7e3d52.html" target="element"> Catalogueue of Assets that can be confiscated </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa62b57984a541f4bb10c4acca5689cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa62b57984a541f4bb10c4acca5689cd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
																		<td> <a href="../elements/id-c1378da20b36453abd84db4aded4d7a7.html" target="element"> Tax base amounts registry </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb90fede00244f73ae20a5b1a017d0e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb90fede00244f73ae20a5b1a017d0e5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
																		<td> <a href="../elements/id-8ce2a6f205f94ecd99dcd1bffc96e6d5.html" target="element"> Fiscal data sets catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-95c6ae73fda648228bb89d0e33bf34ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95c6ae73fda648228bb89d0e33bf34ae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
																		<td> <a href="../elements/id-09188746c9114ca2a30c857d3491b4d6.html" target="element"> Local tax authorities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-099044fefeac4e5283c35f619735ebbe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-099044fefeac4e5283c35f619735ebbe.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
																		<td> <a href="../elements/id-f92a628952b64686b2a87d703882b9c8.html" target="element"> Harmonised tax catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8529549d34d543bd9d5f842986dbbac4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8529549d34d543bd9d5f842986dbbac4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
																		<td> <a href="../elements/id-da82e053441f409eb48949f68773896f.html" target="element"> Taxpayer obligations catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c02a87dbab84585b59784e4c7aba7f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c02a87dbab84585b59784e4c7aba7f7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
																		<td> <a href="../elements/id-115755da310843d09bf030e52d8b095f.html" target="element"> Economic activities catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a1c7889c08084d5994b2d1c64cf43498.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1c7889c08084d5994b2d1c64cf43498.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2df2c8b9ae74402495de2642d454896b.html" target="element"> Tax Dataset Catalogues Catalogue </a> </td>
																		<td> <a href="../elements/id-ef194b3d3b0845dc984eed483afa69fa.html" target="element"> Dataset Catalogue </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>